<%= form_with(model: word_translation) do |form| %>
  <% if word_translation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(word_translation.errors.count, "error") %> prohibited this word_translation from being saved:</h2>

      <ul>
        <% word_translation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :word_id, style: "display: block" %>
    <%= form.collection_select :word_id, Word.order(:id), :id, :name %>
  </div>

  <div>
    <%= form.label :translation, style: "display: block" %>
    <%= form.text_field :translation %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
