<%= form_with(model: expression) do |form| %>
  <% if expression.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(expression.errors.count, "error") %> prohibited this expression from being saved:</h2>

      <ul>
        <% expression.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :word, Word.new do |word_attributes|%>
      <div>
        <%= word_attributes.label :name, style: "display: block" %>
        <%= word_attributes.text_field :name, id: 'teste', :onkeyup => "GetValue(this.value)" %>
      </div>
  <% end %>

  <div>
    <%= form.fields_for :phrase, Phrase.new do |phrase_attributes|%>
      <div>
        <%= phrase_attributes.label :text, style: "display: block" %>
        <%= phrase_attributes.text_field :text, id: 'teste', :onkeyup => "GetValue(this.value,false)", :onblur => "GetValue(this.value,true)" %>
      </div>

      <div>
        <%= phrase_attributes.label :difficulty, style: "display: block" %>
        <%= phrase_attributes.number_field :difficulty %>
      </div>

      <div>
        <%= phrase_attributes.label :audio, style: "display: block" %>
        <%= phrase_attributes.text_field :audio %>
      </div>

      <br>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<br>