<%= form_with(model: phrase_translation) do |form| %>
  <% if phrase_translation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(phrase_translation.errors.count, "error") %> prohibited this phrase_translation from being saved:</h2>

      <ul>
        <% phrase_translation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :phrase_id, style: "display: block" %>
    <%= form.collection_select :phrase_id, Phrase.order(:id), :id, :name %>
  </div>

  <div>
    <%= form.label :translation, style: "display: block" %>
    <%= form.text_field :translation %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
